@import 'date-time-picker';

.services {
    margin-top: 20px
}
.image-preview-container {
    width: 720px;
    position: fixed; /* or absolute */
    top: 30%;
    left: 25%;
}
.post-cover-image {
    width: 100%;
}
.media-thumb img {
    width: 80px;
    height: 80px;
    &:hover {
        cursor: pointer;
    }
}
.clinic-current-logo {
    width: 100%;
}